<nav class="flex flex-col h-screen bg-white border-r border-gray-100 transition-all duration-300 ease-in-out shadow-sm"
  [class.w-64]="!isMinimized" [class.w-16]="isMinimized" [class.hidden]="!isVisible" [class.md:flex]="isVisible">

  <!-- Logo Section -->
  <div class="navbar-brand flex items-center py-4 px-3 border-b border-gray-100">
    <i class="fa-solid fa-graduation-cap" style="color: blue; font-size: 24px;"></i>
    <span class="brand-text ml-3 text-lg font-semibold text-gray-800 whitespace-nowrap" [class.hidden]="isMinimized">
      EduPortal
    </span>
  </div>

  <!-- Navigation Links -->
  <ul class="navbar-nav flex-1 overflow-y-auto py-2 px-1">
    <li class="nav-item mb-1">
      <a [routerLink]="['/student/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link flex items-center p-3 rounded-lg hover:bg-gray-50 text-gray-600 transition-colors group">
        <span class="flex items-center space-x-2">
          <i class="fa-solid fa-book-open-reader nav-icon"></i>
          <span class="nav-text text-sm font-medium whitespace-nowrap" [class.hidden]="isMinimized">
            Dashboard
          </span>
        </span>
      </a>
    </li>

    <li class="nav-item mb-1">
      <a [routerLink]="['/student/exams']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link flex items-center p-3 rounded-lg hover:bg-gray-50 text-gray-600 transition-colors group">
        <span class="flex items-center space-x-2">
          <i class="fa-solid fa-bars-staggered nav-icon"></i>
          <span class="nav-text text-sm font-medium whitespace-nowrap" [class.hidden]="isMinimized">
            All Exams
          </span>
        </span>
      </a>
    </li>

    <li class="nav-item mb-1">
      <a [routerLink]="['/student/results']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link flex items-center p-3 rounded-lg hover:bg-gray-50 text-gray-600 transition-colors group">
        <span class="flex items-center space-x-2">
          <i class="fa-solid fa-magnifying-glass-chart nav-icon"></i>
          <span class="nav-text text-sm font-medium whitespace-nowrap" [class.hidden]="isMinimized">
            All Results
          </span>
        </span>
      </a>
    </li>

  </ul>

  <!-- Footer Section -->
  <div class="navbar-footer p-2 border-t border-gray-100">
    <div class="nav-item">
      <button *ngIf="isLoggedIn()" (click)="logout()"
        class="nav-link flex items-center w-full p-3 rounded-lg hover:bg-red-50 text-gray-600 transition-colors group">
        <span class="flex items-center space-x-2">
          <i class="fa-solid fa-right-from-bracket" style="color: rgb(200, 36, 36);"></i>
          <span class="text-sm font-medium whitespace-nowrap" style="color: rgb(173, 79, 79);" [class.hidden]="isMinimized">
            Log out
          </span>
        </span>
      </button>
    </div>
  </div>
</nav>